<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>    

    <add key="kobo03_fe"        value="Kobofrontend03-test-bn2,CaboGWS"/>
    <add key="kobo03_keystore"  value="Cabokeystore03-test-bn2,KEYSTOREIIS,secretstorefrontend"/>
    <add key="kobo03_ksm"       value="Caboksm01-test-bn2,KSMFE,KSMFE"/>
    <add key="kobo03_sarva"     value="Cabosarva02-test-bn2,SarvaServer,SarvaServer"/>

    <add key="kobo02_fe"        value="Kobofrontend02-test-bn2,CaboGWS"/>
    <add key="kobo02_keystore"  value="Cabokeystore02-test-bn2,KEYSTOREIIS,secretstorefrontend"/>
    <add key="kobo02_ksm"       value="Caboksm01-test-bn2,KSMFE,KSMFE"/>
    <add key="kobo02_sarva"     value="Cabosarva02-test-bn2,SarvaServer,SarvaServer"/>

    <add key="cabohdi_fe"       value="Cabohdi01-test-bn2,CaboGWS"/>
    <add key="cabohdi_keystore" value="Cabokeystore-ppe-bn2,KEYSTOREIIS,secretstorefrontend"/>
    <add key="cabohdi_ksm"      value="Caboksm01-test-bn2,KSMFE,KSMFE"/>
    <add key="cabohdi_sarva"    value="Cabosarva02-test-bn2,SarvaServer,SarvaServer"/>

    <add key="ppe_fe"           value="Kobofrontend-ppe-bn2,CaboGWS"/>
    <add key="ppe_keystore"     value="Cabokeystore-ppe-bn2,KEYSTOREIIS,secretstorefrontend"/>
    <add key="ppe_ksm"          value="CaboMetadataStore-PPE-Bn2,KSMFE,KSMFE"/>
    <add key="ppe_sarva"        value="Cabosarva-ppe-bn2,SarvaServer,SarvaServer"/>

    <add key="prod_fe"          value="Kobofrontend01-prod-bn2,CaboGWS"/>
    <add key="prod_keystore"    value="Cabokeystore01-prod-bn2,KEYSTOREIIS,secretstorefrontend"/>
    <add key="prod_ksm"         value="CaboMetadataStore01-Prod-Bn2,KSMFE,KSMFE"/>
    <add key="prod_sarva"       value="Cabosarva01-prod-bn2,SarvaServer,SarvaServer"/>
    
  </appSettings>

</configuration>