<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <appSettings>
        <!-- Database connection string -->
        <add key="ConnectionString" value="Server=tcp:xa9komrfoq.database.windows.net,1433;Database=ADLToolDB;User ID=jayabhch@xa9komrfoq;Password={0};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
    </appSettings>

    </configuration>