<?xml version="1.0" encoding="utf-8" ?>
<Configuration>

  <Instance Name="SecretStore" Enabled="True">
    <ClientLibrary>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystore01-prod-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='Kobo01-Prod-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystore01-prod-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='KoboFrontend01-Prod-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystore01-prod-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='CaboKeyStore01-Prod-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.adlie01ks-prod-db5.db5.ap.phx.gbl/ScramService.svc" 
    when="@environment='ADLIE01BE-Prod-Db5'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.adlie01ks-prod-db5.db5.ap.phx.gbl/ScramService.svc" 
    when="@environment='ADLIE01FE-Prod-Db5'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.adlie01ks-prod-db5.db5.ap.phx.gbl/ScramService.svc" 
    when="@environment='ADLIE01KS-Prod-Db5'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefetest03.osdinfra.net/ScramService.svc" 
    when="@environment='Kobo03-test-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefetest03.osdinfra.net/ScramService.svc" 
    when="@environment='KoboFrontend03-test-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefetest03.osdinfra.net/ScramService.svc" 
    when="@environment='CaboKeyStore03-test-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystore04-test-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='Kobo04-test-Bn2'"?>    
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystore-PPE-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='KoboFrontend04-test-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystore-PPE-bn2.bn2.ap.phx.gbl/ScramService.svc"
    when="@environment='Kobo05-test-Bn2'"?>  
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystore-PPE-bn2.bn2.ap.phx.gbl/ScramService.svc"
    when="@environment='CosmosCrux-Test-CY2'"?>    
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystore04-test-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='CaboKeyStore04-test-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystore-PPE-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='Kobo-PPE-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystore-PPE-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='KoboFrontend-PPE-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystore-PPE-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='CaboKeyStore-PPE-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.caboblakekeystore-test-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='KoboBlake-Test-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.caboblakekeystore-test-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='KoboBlakeFrontend-Test-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.caboblakekeystore-test-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='CaboBlakeKeyStore-Test-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystore-PPE-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='Cabohdi01-Test-Bn2'"?>
     <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.kiwi01-test-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='Kiwi01-Test-Bn2'"?>
     <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.kiwi01-test-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='Kiwi01Frontend-Test-Bn2'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS12KS-Prod-DM2P.DM2P.ap.gbl/ScramService.svc" 
    when="@environment='ADLSUS12KS-Prod-DM2P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS12KS-Prod-DM2P.DM2P.ap.gbl/ScramService.svc" 
    when="@environment='ADLUS12BE-Prod-DM2P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS12KS-Prod-DM2P.DM2P.ap.gbl/ScramService.svc" 
    when="@environment='ADLUS12FE-Prod-DM2P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS13KS-Prod-BL2P.BL2P.ap.gbl/ScramService.svc" 
    when="@environment='ADLSUS13KS-Prod-BL2P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS13KS-Prod-BL2P.BL2P.ap.gbl/ScramService.svc" 
    when="@environment='ADLUS13BE-Prod-BL2P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS13KS-Prod-BL2P.BL2P.ap.gbl/ScramService.svc" 
    when="@environment='ADLUS13FE-Prod-BL2P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS14KS-Prod-BY3P.BY3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLSUS14KS-Prod-BY3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS14KS-Prod-BY3P.BY3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLUS14BE-Prod-BY3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS14KS-Prod-BY3P.BY3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLUS14FE-Prod-BY3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS15KS-Prod-BN3P.BN3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLSUS15KS-Prod-BN3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS15KS-Prod-BN3P.BN3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLUS15BE-Prod-BN3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS15KS-Prod-BN3P.BN3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLUS15FE-Prod-BN3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSNL10KS-Prod-AM3P.AM3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLSNL10KS-Prod-AM3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSNL10KS-Prod-AM3P.AM3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLNL10BE-Prod-AM3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSNL10KS-Prod-AM3P.AM3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLNL10FE-Prod-AM3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSIE11KS-Prod-DB3P.DB3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLSIE11KS-Prod-DB3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSIE11KS-Prod-DB3P.DB3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLIE11BE-Prod-DB3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSIE11KS-Prod-DB3P.DB3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLIE11FE-Prod-DB3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.TADLUS01KS-Test-DM2P.DM2P.ap.gbl/ScramService.svc" 
    when="@environment='TADLUS01KS-Test-DM2P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.TADLUS01KS-Test-DM2P.DM2P.ap.gbl/ScramService.svc" 
    when="@environment='TADLUS01BE-Test-DM2P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.TADLUS01KS-Test-DM2P.DM2P.ap.gbl/ScramService.svc" 
    when="@environment='TADLUS01FE-Test-DM2P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS02KS-PPE-BY3P.BY3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLSUS02KS-PPE-BY3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS02KS-PPE-BY3P.BY3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLUS02BE-PPE-BY3P'"?>
      <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS02KS-PPE-BY3P.BY3P.ap.gbl/ScramService.svc" 
    when="@environment='ADLUS02FE-PPE-BY3P'"?>
    <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabocachekeystore01-test-co4c.co4c.ap.phx.gbl/ScramService.svc" 
    when="@environment='CaboCacheKeyStore01-Test-Co4C'"?>
    <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystoreperf-test-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='CaboKeyStorePerf-Test-Bn2'"?>
    <?ap-config target="EndpointAddress" value="https://keystorefe-fevip.cabokeystoreperf-test-bn2.bn2.ap.phx.gbl/ScramService.svc" 
    when="@environment='CaboKeyStorePerfClient-Test-Bn2'"?>
    <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS00KSPERF-Test-DM2P.DM2P.ap.gbl/ScramService.svc" 
    when="@environment='ADLSUS00KSPERF-Test-DM2P'"?>
    <?ap-config target="EndpointAddress" value="https://KEYSTOREFE-FEVIP.ADLSUS00KSPERF-Test-DM2P.DM2P.ap.gbl/ScramService.svc" 
    when="@environment='ADLUS00KSPERFCLNT-Test-DM2P'"?>
      <EndpointAddress>https://keystorefetest02.osdinfra.net/ScramService.svc</EndpointAddress>
      <RetrySleepMilliseconds>500</RetrySleepMilliseconds>
      <RetryCount>5</RetryCount>
      <UseBulkReadAPI>1</UseBulkReadAPI>
      <PerfCounterSectionName>SecretStore</PerfCounterSectionName>
      <PerfCounterNamePrefix>PerfTest</PerfCounterNamePrefix>
      <DbStringLength>255</DbStringLength>
      <?ap-config target="ReadOnlyAccounts" value="APSVC\SecretStoreWD@SECRETSTOREWD.Kiwi01-Test-Bn2.BN2;APMF\BDN.kiwi01-test-bn2.BN2;APMF\CCS.kiwi01-test-bn2.BN2;APMF\CJS.kiwi01-test-bn2.BN2;APMF\KOBOWD.kiwi01-test-bn2.BN2;APMF\IBDN.kiwi01-test-bn2.BN2;APMF\JM.kiwi01-test-bn2.BN2;APMF\RM.kiwi01-test-bn2.BN2;APMF\SMS.kiwi01-test-bn2.BN2;APMF\YARNRM.kiwi01-test-bn2.BN2;APMF\YARNTS.kiwi01-test-bn2.BN2;APMF\TE.kiwi01-test-bn2.BN2;APMF\KiwiFE.kiwi01frontend-test-bn2.BN2;APMF\KiwiAdmin.kiwi01frontend-test-bn2.BN2;APMF\GWS.kiwi01frontend-test-bn2.BN2;APMF\CaboGWS.kiwi01frontend-test-bn2.BN2;APMF\KonaGWS.kiwi01frontend-test-bn2.BN2;APMF\KSFE.kiwi01frontend-test-bn2.BN2;APMF\DI.kiwi01frontend-test-bn2.BN2;APMF\DI_Slave.kiwi01frontend-test-bn2.BN2;APMF\IKFE.kiwi01frontend-test-bn2.BN2;APMF\CTS.kiwi01frontend-test-bn2.BN2;APMF\KIWIWD.kiwi01frontend-test-bn2.BN2;"
    when="@environment='Kiwi01-Test-Bn2'"?>
      <?ap-config target="ReadOnlyAccounts" value="APMF\BDN.kiwi01-test-bn2.BN2;APMF\CCS.kiwi01-test-bn2.BN2;APMF\CJS.kiwi01-test-bn2.BN2;APMF\KOBOWD.kiwi01-test-bn2.BN2;APMF\IBDN.kiwi01-test-bn2.BN2;APMF\JM.kiwi01-test-bn2.BN2;APMF\RM.kiwi01-test-bn2.BN2;APMF\SMS.kiwi01-test-bn2.BN2;APMF\YARNRM.kiwi01-test-bn2.BN2;APMF\YARNTS.kiwi01-test-bn2.BN2;APMF\TE.kiwi01-test-bn2.BN2;APMF\KiwiFE.kiwi01frontend-test-bn2.BN2;APMF\KiwiAdmin.kiwi01frontend-test-bn2.BN2;APMF\GWS.kiwi01frontend-test-bn2.BN2;APMF\CaboGWS.kiwi01frontend-test-bn2.BN2;APMF\KonaGWS.kiwi01frontend-test-bn2.BN2;APMF\KSFE.kiwi01frontend-test-bn2.BN2;APMF\DI.kiwi01frontend-test-bn2.BN2;APMF\DI_Slave.kiwi01frontend-test-bn2.BN2;APMF\IKFE.kiwi01frontend-test-bn2.BN2;APMF\CTS.kiwi01frontend-test-bn2.BN2;APMF\KIWIWD.kiwi01frontend-test-bn2.BN2;"
    when="@environment='Kiwi01Frontend-Test-Bn2'"?>
      <?ap-config target="ReadOnlyAccounts" value="APSVC\SecretStoreWD@SECRETSTOREWD.TADLUS01KS-Test-DM2P.DM2P;APMF\BDN.TADLUS01BE-Test-DM2P.DM2P;APMF\CCS.TADLUS01BE-Test-DM2P.DM2P;APMF\CJS.TADLUS01BE-Test-DM2P.DM2P;APMF\KOBOWD.TADLUS01BE-Test-DM2P.DM2P;APMF\IBDN.TADLUS01BE-Test-DM2P.DM2P;APMF\JM.TADLUS01BE-Test-DM2P.DM2P;APMF\RM.TADLUS01BE-Test-DM2P.DM2P;APMF\SMS.TADLUS01BE-Test-DM2P.DM2P;APMF\YARNRM.TADLUS01BE-Test-DM2P.DM2P;APMF\YARNTS.TADLUS01BE-Test-DM2P.DM2P;APMF\TE.TADLUS01BE-Test-DM2P.DM2P;APMF\KiwiFE.TADLUS01FE-Test-DM2P.DM2P;APMF\KiwiAdmin.TADLUS01FE-Test-DM2P.DM2P;APMF\GWS.TADLUS01FE-Test-DM2P.DM2P;APMF\CaboGWS.TADLUS01FE-Test-DM2P.DM2P;APMF\KonaGWS.TADLUS01FE-Test-DM2P.DM2P;APMF\KSFE.TADLUS01FE-Test-DM2P.DM2P;APMF\DI.TADLUS01FE-Test-DM2P.DM2P;APMF\DI_Slave.TADLUS01FE-Test-DM2P.DM2P;APMF\IKFE.TADLUS01FE-Test-DM2P.DM2P;APMF\CTS.TADLUS01FE-Test-DM2P.DM2P;APMF\KIWIWD.TADLUS01FE-Test-DM2P.DM2P;" 
    when="@environment='TADLUS01KS-Test-DM2P'"?>
      <?ap-config target="ReadOnlyAccounts" value="APMF\BDN.TADLUS01BE-Test-DM2P.DM2P;APMF\CCS.TADLUS01BE-Test-DM2P.DM2P;APMF\CJS.TADLUS01BE-Test-DM2P.DM2P;APMF\KOBOWD.TADLUS01BE-Test-DM2P.DM2P;APMF\IBDN.TADLUS01BE-Test-DM2P.DM2P;APMF\JM.TADLUS01BE-Test-DM2P.DM2P;APMF\RM.TADLUS01BE-Test-DM2P.DM2P;APMF\SMS.TADLUS01BE-Test-DM2P.DM2P;APMF\YARNRM.TADLUS01BE-Test-DM2P.DM2P;APMF\YARNTS.TADLUS01BE-Test-DM2P.DM2P;APMF\TE.TADLUS01BE-Test-DM2P.DM2P;APMF\KiwiFE.TADLUS01FE-Test-DM2P.DM2P;APMF\KiwiAdmin.TADLUS01FE-Test-DM2P.DM2P;APMF\GWS.TADLUS01FE-Test-DM2P.DM2P;APMF\CaboGWS.TADLUS01FE-Test-DM2P.DM2P;APMF\KonaGWS.TADLUS01FE-Test-DM2P.DM2P;APMF\KSFE.TADLUS01FE-Test-DM2P.DM2P;APMF\DI.TADLUS01FE-Test-DM2P.DM2P;APMF\DI_Slave.TADLUS01FE-Test-DM2P.DM2P;APMF\IKFE.TADLUS01FE-Test-DM2P.DM2P;APMF\CTS.TADLUS01FE-Test-DM2P.DM2P;APMF\KIWIWD.TADLUS01FE-Test-DM2P.DM2P;"
    when="@environment='TADLUS01BE-Test-DM2P'"?>
      <?ap-config target="ReadOnlyAccounts" value="APMF\BDN.TADLUS01BE-Test-DM2P.DM2P;APMF\CCS.TADLUS01BE-Test-DM2P.DM2P;APMF\CJS.TADLUS01BE-Test-DM2P.DM2P;APMF\KOBOWD.TADLUS01BE-Test-DM2P.DM2P;APMF\IBDN.TADLUS01BE-Test-DM2P.DM2P;APMF\JM.TADLUS01BE-Test-DM2P.DM2P;APMF\RM.TADLUS01BE-Test-DM2P.DM2P;APMF\SMS.TADLUS01BE-Test-DM2P.DM2P;APMF\YARNRM.TADLUS01BE-Test-DM2P.DM2P;APMF\YARNTS.TADLUS01BE-Test-DM2P.DM2P;APMF\TE.TADLUS01BE-Test-DM2P.DM2P;APMF\KiwiFE.TADLUS01FE-Test-DM2P.DM2P;APMF\KiwiAdmin.TADLUS01FE-Test-DM2P.DM2P;APMF\GWS.TADLUS01FE-Test-DM2P.DM2P;APMF\CaboGWS.TADLUS01FE-Test-DM2P.DM2P;APMF\KonaGWS.TADLUS01FE-Test-DM2P.DM2P;APMF\KSFE.TADLUS01FE-Test-DM2P.DM2P;APMF\DI.TADLUS01FE-Test-DM2P.DM2P;APMF\DI_Slave.TADLUS01FE-Test-DM2P.DM2P;APMF\IKFE.TADLUS01FE-Test-DM2P.DM2P;APMF\CTS.TADLUS01FE-Test-DM2P.DM2P;APMF\KIWIWD.TADLUS01FE-Test-DM2P.DM2P;"
    when="@environment='TADLUS01FE-Test-DM2P'"?>
      <?ap-config target="ReadOnlyAccounts" value="APMF\BDN.ADLUS00KSPERFCLNT-Test-DM2P.DM2P;"
    when="@environment='ADLUS00KSPERFCLNT-Test-DM2P'"?>
      <?ap-config target="ReadOnlyAccounts" value="APSVC\SecretStoreWD@SECRETSTOREWD.ADLSUS00KSPERF-Test-DM2P.DM2P;APMF\BDN.ADLUS00KSPERFCLNT-Test-DM2P.DM2P;"
    when="@environment='ADLSUS00KSPERF-Test-DM2P'"?>
      <?ap-config target="ReadOnlyAccounts" value=""
    when="@environment='ADLSUS15KS-Prod-BN3P' or @environment='ADLSUS12KS-Prod-DM2P' or @environment='ADLSNL10KS-Prod-AM3P' or @environment='ADLSIE11KS-Prod-DB3P'"?>
    <ReadOnlyAccounts>PHX\cm-secstrsvc$;</ReadOnlyAccounts>
      <?ap-config target="PilotFish" value="true"
    when="@PilotFish='True'"?>
      <PilotFish>false</PilotFish>
      <MaxSharedAccessSigExpiryInMinutes>10</MaxSharedAccessSigExpiryInMinutes>
    </ClientLibrary>
  </Instance>
</Configuration>
